/* Style overrides for XNAT Works theme */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --mda-red: #da291c; /*  rgb(218,41,28) */
    --mda-red-light: #f05049;
    --mda-red-dark: #a51e22;
    --mda-blue: #2f60b2; /* rgb(47,96,178) */
    --mda-blue-light: #5e86c5;
    --mda-blue-dark: #224289;
    --page-bg: #282828;
    --panel-bg: #000000;
    --panel-header-bg: var(--mda-blue-dark);
    --panel-header-highlight: var(--mda-blue);
    --border-color: #404040;
    --border-color-light: #848484;
    --highlight-color: #ffc803;
    --text-color: #e0e0e0;
    --link-color: #a4cfff;
    --link-color-hover: #5e86c5;
    --link-color-reverse: #ffc803;
    --link-color-reverse-hover: #fff8c3;
    --primary-button-bg: var(--mda-blue) linear-gradient(var(--mda-blue-light),var(--mda-blue));
    --primary-button-bg-hover: var(--mda-blue-dark);
    --primary-button-border: var(--mda-blue-dark);
    --input-color: #404040;
    --alert-color: #ffaa66;
    --alert-color-bg: rgba(255,170,102,0.2);
    --error-color: #a51e22;
    --error-color-bg: rgba(240, 80, 73,0.2);
    --message-color: #2d69b8;
    --message-color-bg: rgba( 45,105,184,0.2);
    --success-color: #66cc66;
    --success-color-bg: rgba(102,204,102,0.2);
}

html { background: var(--page-bg); }
html body {
    background: var(--page-bg);
    font-family: "Lato",arial,sans-serif !important;
    font-weight: 400;
    color: var(--text-color);
}

#page_wrapper,
#header {
    background: var(--page-bg);
}

a,
a.link,
a.nolink {
    color: var(--link-color);
}
a:hover,
a.link:hover,
a.nolink:hover {
    color: var(--link-color-hover);
}
hr { border-color: var(--border-color); }
#user_bar a { color: var(--link-color-reverse); }
#user_bar a:hover { color: var(--link-color-reverse-hover); }
#advanced-search-topnav a { color: var(--link-color) !important; }
#advanced-search-topnav a:hover { color: var(--link-color-hover) !important; }
#header_logo {
    background: url(../images/logo-trans.png) center center no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 80px;
    width: 200px;
}
#header_logo img {
    display: none;
}
#xnat_power {
    background: var(--page-bg);
    border-color: var(--border-color);
}
#xnat_power a {
    background: url(../images/xnat-power-trans.png) center center no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 40px;
    width: 180px;
}
#xnat_power img {
    display: none;
}

/* user bar */
#user_bar {
    color: #fff;
    background: var(--panel-bg);
}

/* main nav */
#main_nav {
    background-color: #e0e1e2;
    background-image: linear-gradient(var(--page-bg), var(--panel-bg));
    border-bottom: 1px solid var(--border-color);
    font-family: "Lato",arial,sans-serif !important;
    font-weight: 400;
}

#main_nav #nav-home {
/*    background-image: url('../images/xw-icon.png') !important; */
}
#main_nav ul.nav > li,
#main_nav ul.nav > li:first-of-type { border-color: var(--border-color); }
/* #main_nav ul.nav > li > a { color: #242424; } */
#main_nav ul.nav > li > a:hover,
#main_nav ul.nav > li.active > a { background-color: var(--border-color); }
#main_nav ul.nav ul,
#main_nav ul.nav li li ul
{
    background: var(--panel-bg);
    border-color: var(--border-color);
    box-shadow: 0 1px 4px rgba(0,0,0,0.8);
}
#main_nav ul.nav li li ul {
    border-left-color: var(--mda-blue-light);
}
#main_nav ul.nav li li a {
    color: var(--text-color);
}
#main_nav ul.nav li li.more > a {
}

#main_nav ul.nav li li a:hover {
    background-color: var(--mda-blue-light);
}

#main_nav ul.nav li li.active,
#main_nav ul.nav li li.active > a,
#main_nav ul.nav li li.active > a:hover {
    background-color: var(--mda-blue-light);
}

#main_nav ul.nav table.data-table tr:hover,
#main_nav ul.nav table.data-table .item:hover {
    background: var(--mda-blue-light) !important;
}

/* tab styles */
.yui-skin-sam .yui-navset .yui-nav, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav, #search_tabs.yui-navset.yui-navset-top > .wrangler {
    border-color: var(--panel-header-bg) !important;
}
.yui-skin-sam .yui-navset .yui-nav a, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav a {
    background-color: var(--panel-bg);
    background-image: linear-gradient(var(--page-bg),var(--panel-bg));
    color: var(--text-color);
}
.yui-skin-sam .yui-navset .yui-nav a:hover, .yui-skin-sam .yui-navset .yui-nav a:focus {
    background: var(--panel-header-highlight);
}
.yui-skin-sam .yui-navset .yui-content, .yui-skin-sam .yui-navset .yui-navset-top .yui-content,
.yui-skin-sam .yui-navset .yui-nav a em, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav a em {
    border-color: var(--border-color);
}
.yui-skin-sam .yui-navset .yui-content { background: var(--panel-bg); }

.yui-skin-sam .yui-navset .yui-nav .selected a,
.yui-skin-sam .yui-navset .yui-nav .selected a em,
.yui-skin-sam .yui-navset .yui-nav .selected a:focus,
.yui-skin-sam .yui-navset .yui-nav .selected a:hover {
    background: var(--panel-header-bg);
    border-color: var(--panel-header-bg);
}


/* actions menu */
.yui-skin-sam .yuimenu .bd { border-color: var(--border-color); }
#actionsMenu, #actionsMenu * {
   background: var(--panel-bg);
   color: var(--text-color);
}
.yui-skin-sam .yuimenuitem-selected,
#actionsMenu .yuimenuitem-selected {
    background: var(--mda-blue-dark);
}
#actionsMenu > .bd > .first-of-type a { background: var(--panel-header-bg); }
#actionsMenu ul { border-color: var(--border-color); }
#actionsMenu li.yuimenuitem-hassubmenu > a {
    background: none;
    position: relative;
}
#actionsMenu li.yuimenuitem-hassubmenu > a:before {
    font-family: "Font Awesome","FontAwesome";
    content: "\f0da";
    color: #fff;
    position: absolute;
    right: 0.5rem;
}
#actionsMenu li.yuimenuitem-hassubmenu-selected > a:before {
    content: "\f0d7";
}
#actionsMenu li a:hover,
#actionsMenu li.yuimenuitem-hassubmenu > a:hover {
    background-color: var(--mda-blue);
}


/* panels */
div.container {
    border-color: var(--border-color)
}
body.xnat .panel-default { border-color: var(--border-color) }
body.xnat .panel-default .panel-body { background: var(--panel-bg); }
body.xnat .panel-default .panel-heading { background: var(--panel-header-bg); }
.panel-default .panel-footer { background: var(--panel-bg); border-top: 1px solid var(--border-color); }
.xnat-nav-tabs li.tab { border-color: var(--border-color); }
.xnat-nav-tabs li.tab:hover { background: var(--border-color); }
.xnat-nav-tabs li.tab > a {
    background: var(--panel-bg);
    border-color: var(--border-color);
    color: var(--text-color);
 }
.xnat-nav-tabs.side li.tab > a { border-color: var(--border-color); }
.xnat-nav-tabs li.tab.active { background: var(--mda-blue); border-color: var(--border-color);}
.xnat-nav-tabs.side li.tab.active > a { border-color: var(--mda-blue-dark); background: var(--mda-blue-dark) !important;color: var(--text-color);}
.xnat-tab-content, .xnat-tab-content .tab-pane { background: var(--page-bg); }
.panel .panel-element .element-label { color: var(--text-color); }
.xnat-nav-tabs.side .tab-group li.label { color: var(--highlight-color); }
.xnat-tab-content.side.pull-right { border-color: var(--border-color); }
.panel .panel-element.highlighted { background: var(--message-color-bg); border-color: var(--message-color); }

.even, .odd {
    background: var(--panel-bg);
    border-color: var(--border-color);
}
.odd { background: #101010; }


/* Search Tables */
#search_tabs .flipper_box { background: none !important; }
#search_tabs .flipper_box .flippers .flipper,
#search_tabs .flipper_box .flippers .selector {
    background: linear-gradient(var(--page-bg),var(--panel-bg)) !important;
    border-color: var(--border-color) !important;
}
#search_tabs .flipper_box .flippers .flipper.disabled { background: var(--page-bg) !important; }
#search_tabs th.x_rs_th,
.xnat-table th {
    background: linear-gradient(var(--border-color),var(--page-bg)) !important;
}
.xnat-table thead,
.xnat-table tr.header-row {
    background-color: var(--border-color) !important;
}
#search_tabs th.x_rs_th,
#search_tabs td.x_rs_td,
.xnat-table th,
.xnat-table td {
    border-color: var(--border-color);
    color: var(--text-color);
}
#search_tabs th.x_rs_th:before {
    font-family: "Font Awesome","FontAwesome";
    content: "\f0dc";
    color: var(--border-color-light);
    float: right;
    padding-top: 5px;
}
#search_tabs th.x_rs_th.sorted { color: var(--highlight-color); }
#search_tabs th.x_rs_th.sorted:before {
    color: var(--highlight-color);
    content: "\f0dd";
}
.xnat-table,
.data-table-wrapper .xnat-table.data-table,
.data-table-wrapper.no-body .xnat-table.data-table {
    background: var(--panel-bg);
    border-color: var(--border-color);
}
.data-table-wrapper {
    background: inherit;
    border-color: var(--border-color);
}
th.sort > i,
th.sort.asc > i,
th.sort.desc > i {
    background: none;
    font-style: normal;
}
th.sort > i:before {
    font-family: "Font Awesome","FontAwesome";
    content: "\f0dc";
    color: var(--border-color-light);
}
th.sort.asc > i:before { color: var(--highlight-color); content: "\f0de"; }
th.sort.desc > i:before { color: var(--highlight-color); content: "\f0dd"; }
.xnat-table.data-table tr.filter > td, .xnat-table.data-table tr.filter > th {
    background: var(--page-bg);
    border-color: var(--border-color);
}
tr.odd > td.sorted,
tr.even > td.sorted { background-color: inherit; }
.xnat-table input.filter-data { background: var(--panel-bg); }

.underscore { border-color: var(--mda-blue-dark); }
body .data-table-actionsrow {
    background: var(--border-color);
    border-color: var(--page-bg);
}
body .xnat-table.selectable { background-color: var(--panel-bg); }
body .xnat-table.selectable tr:hover { background-color: var(--page-bg); }
body .inline-actions { background-color: inherit; }
body .inline-actions i:hover { background-color: var(--panel-bg); }
body .inline-actions-menu { background-color: var(--panel-bg); border-color: var(--border-color); }
.advanced-search-fields h4 { border-color: var(--border-color); }
.xnat-table tr.highlight:hover,
.xnat-table.highlight tr:hover,
.xnat-table.striped.highlight tr:hover {
    background: var(--border-color);
}


/* form elements and buttons */
input, input[type="text"], input[type="password"], input[type="number"], #searchValue, textarea {
    background: var(--input-color);
    border-color: var(--border-color-light);
    color: var(--text-color);
}
input:focus, #searchValue:focus, textarea:focus {
    border-color: var(--highlight-color);
}
button, [type="button"], [type="submit"], [type="reset"], .btn, .btn1, .btn2 {
    color: #202020;
    font-family: "Lato",arial,sans-serif;
}
button:hover, [type="button"]:hover, [type="submit"]:hover, [type="reset"]:hover, .btn:hover, .btn1:hover, .btn2:hover {
    background: var(--border-color-light);
}
.yui-skin-sam .yui-button button, .yui-skin-sam .yui-button a, .yui-skin-sam .yui-button a:visited {
    box-shadow: none;
}
.btn1, .btn.primary, .btn.submit, .btn.save, input.btn1, .btn1[type="button"], [type="submit"],
.yui-skin-sam .yui-dialog .ft span.default button,
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn.yui-default button {
    background: var(--primary-button-bg);
    border-color: var(--primary-button-border);
    box-shadow: none;
    color: var(--text-color);
}
.btn1:hover, .btn.primary:hover, .btn.submit:hover, .btn.save:hover, input.btn1:hover,
.btn1[type="button"]:hover, [type="submit"]:hover,
.yui-skin-sam .yui-dialog .ft span.default button:hover,
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn.yui-default button:hover {
    background: var(--primary-button-bg-hover);
}
label.switchbox > input + .switchbox-outer > .switchbox-inner { background: var(--page-bg); }
.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover { background: inherit; }
.ygtvcheck2 .ygtvspacer::before { color: var(--highlight-color); }



/* Modals and Dialogs */
body div.xnat-dialog, body div.xmodal {
    background: var(--page-bg);
    border-color: var(--border-color-light);
    border-radius: 0;
    box-shadow: 0 10px 20px rgba (0,0,0,0.5);
}
body div.xnat-dialog:focus, body div.xnat-dialog.top {
    border-color: var(--border-color-light);
}
body div.xnat-dialog > .title,
body div.xnat-dialog > .footer,
body div.xmodal .title,
body div.xmodal .footer {
    background: var(--panel-bg) !important;
    border-color: var(--border-color) !important;
    color: var(--text-color);
}
body div.xnat-dialog > .footer .button.default,
body div.xmodal .footer .button.default {
    background: var(--primary-button-bg);
    border-color: var(--primary-button-border);
    box-shadow: none;
}
body div.xnat-dialog > .footer .button.default:hover,
body div.xmodal .footer .button.default:hover {
    background: var(--primary-button-bg-hover);
}
body div.xnat-dialog > .footer .button:hover,
body div.xnat-dialog > .footer .button.cancel.default:hover,
body div.xmodal .footer .button:hover,
body div.xmodal .footer .button.cancel.default:hover {
    background: var(--border-color-light);
}
body div.xnat-dialog > .footer > .inner > .buttons > .button { box-shadow: none; }
body.xnat div.xmodal .panel-default .panel-body,
body.xnat .xnat-dialog .panel-default .panel-body { background: var(--page-bg); }
body.xnat div.xmodal .panel-default .panel-heading,
body.xnat .xnat-dialog .panel-default .panel-heading { background: var(--page-bg); }


/* YUI */
.yui-skin-sam .yui-panel { border-color: var(--border-color-light); }
.yui-skin-sam .yui-panel .hd {
    background: linear-gradient(var(--page-bg), var(--panel-bg));
    color: var(--text-color);
}
.yui-skin-sam .yui-panel .bd, .yui-skin-sam .yui-panel .ft {
    background-color: var(--panel-bg);
}
.yui-skin-sam .yui-panel .hd, .yui-skin-sam .yui-panel .bd, .yui-skin-sam .yui-panel .ft {
    border-color: var(--border-color);
}
.ygtvlm .ygtvspacer::before, .ygtvlp .ygtvspacer::before, .ygtvtm .ygtvspacer::before, .ygtvtp .ygtvspacer::before, .ygtvlmh .ygtvspacer::before, .ygtvlph .ygtvspacer::before, .ygtvtmh .ygtvspacer::before, .ygtvtph .ygtvspacer::before {
    color: var(--text-color);
}
.yui-skin-sam .mask, body div.xnat-dialog-mask, body div.xmodal-mask {
    background: var(--border-color); opacity: 0.5;
}
.bd div[style] { border-color: var(--border-color); }
#editColumnsTable img[src="/local/images/up18.gif"] { /* display: none; */ }
#editColumnsTable img[src="/local/images/up18.gif"]:before {
    display: block;
    height: 16px;
    width: 16px;
    font-family: "Font Awesome","FontAwesome";
    content: "\f077";
    color: var(--text-color);
}


/* banners and alert boxes */
div.alert, div.error, div.justification, div.message, div.info, div.note, div.success, div.warning {
    background: inherit;
    border-color: var(--border-color);
    border-width: 1px;
    color: var(--text-color);
}
div.alert { border-color: var(--alert-color); background: var(--alert-color-bg); }
div.alert:before { color: var(--alert-color); }
div.error { border-color: var(--error-color); background: var(--error-color-bg); }
div.error:before { color: var(--error-color); }
div.info { border-color: var(--message-color); background: var(--message-color-bg); }
div.info:before { color: var(--message-color); }
div.message { border-color: var(--message-color); background: var(--message-color-bg); }
div.message:before { color: var(--message-color); }
div.success { border-color: var(--success-color); background: var(--success-color-bg); }
div.success:before { color: var(--success-color); }
div.warning { border-color: var(--alert-color); background: var(--alert-color-bg); }
div.warning:before { color: var(--alert-color); }


/* Bootstrap Shims */
body .xnat-bootstrap .pagination {
    border-color: var(--panel-header-bg);
}
body .formio-form > div > nav > ul.pagination .page-item .page-link {
    background: linear-gradient(var(--page-bg),var(--panel-bg));
    border-color: var(--border-color);
    color: var(--text-color);
}
body .formio-form > div > nav > ul.pagination .page-item.active .page-link {
    background: var(--panel-header-bg);
    border-color: var(--panel-header-bg);
    color: var(--text-color);
}
body .xnat-bootstrap .wizard-page {
    background: var(--panel-bg);
    border-color: var(--border-color);
}
body .xnat-bootstrap .form-control {
    background: var(--input-color);
    border-color: var(--border-color-light);
    color: var(--text-color);
}
body .xnat-bootstrap .form-control:focus {
    border-color: var(--highlight-color);
    background-color: var(--input-color);
    color: var(--text-color);
}



/* other ui elements */
div.containerTitle.withColor {
   background: var(--panel-header-bg) !important;
   border-color: var(--border-color);
}

body #download-form,
body div.download-column .inner {
    background: var(--panel-bg);
    border-color: var(--border-color);
}
body div.download-column .xnat-table.data-table thead td {
    background: var(--page-bg);
    border-color: var(--page-bg);
}
body div.download-column h4 { border-color: var(--border-color); }
body #accordion h3 {
    font-family: inherit !important;
}
body #accordion h3.active,
div.download-column h3 {
    background: var(--panel-header-bg) !important;
    border: 1px solid var(--panel-header-bg) !important;
}
body #accordion .content {
    background: var(--page-bg);
    border-color: var(--border-color);
}
body #accordion .content td.highlighted {
    background: none;
    border: none;
}
body #accordion h3 {
    border-color: var(--border-color);
    color: var(--link-color);
}
body #accordion h3:not(.active):hover {
    color: var(--link-color-hover);
}
#access-selector { background: var(--panel-bg); }
#activity-tab .panel-header { background: var(--panel-header-bg); }
#activity-tab .panel-body {
    background: var(--panel-bg);
    border-color: var(--border-color);
}
#activity-tab .panel-body .item { border-color: var(--border-color); }
#add_experiment #form1 .label,
#add_experiment #form1 #expt_list #expt_list_filter input,
#add_experiment #form1 #expt_list .rows h4,
#add_experiment #form1 #expt_list .rows p {
    color: var(--text-color);
}
#add_experiment #form1 #expt_list .rows { border-color: var(--border-color); }
#add_experiment #form1 #expt_list #expt_list_filter { background: var(--border-color); }
#add_experiment #form1 #expt_list div.row {
    background: var(--panel-bg) !important;
    border-color: var(--border-color);
}
#add_experiment #form1 #expt_list div.row:hover { background-color: var(--page-bg) !important; }
#add_experiment #form1 #expt_list #expt_list_filter input { background-color: var(--panel-bg); }



/* Prearchive */
div#prearchive_table,
div#prearchive_table > div,
div#prearchive_table div:not([class*="qx-button"]):not([class*="qx-input"]):not([qxkeepactive])
  > div[qxselectable="off"]:not([class*="qx-button"]):not([class*="qx-input"]) {
    background: var(--panel-bg) !important;
    border-color: var(--border-color);
    color: var(--text-color) !important;
}
#prearchive_table input[qxselectable="on"] {
    color: var(--text-color) !important;
}
#prearchive_table .qx-table div {
    border-color: var(--border-color) !important;
}
#prearchive_table .qooxdoo-table-cell {
    border-color: var(--border-color);
}


/* H * A * C * K * S */
html body.popup#page_body { background: var(--page-bg) !important; }
form#userform td > div:not([class]) {
    background: var(--panel-bg) !important;
    border-color: var(--border-color) !important;
}
.user-actions { border-color: var(--border-color) !important; }
table#project-commands tr:not([class]) { background: inherit !important; }
#command-orchestration table tr:not([class]) { background: inherit !important; }
body #actionsMenu .bd ul #processing-dashboard-dttable tr.filter > td { background: var(--page-bg) !important; }
body #actionsMenu .bd ul #processing-dashboard-dttable ul li a { color: var(--text-color) !important; }
a.toggle-days[style] { color: var(--text-color) !important; }