/* Style overrides for XNAT Works theme */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --xw-green: #42b549;
    --xw-blue: #045ea3;
    --xw-yellow: #ffc803;
    --xw-gold: #df9903;
}

html body {
    font-family: "Lato",arial,sans-serif !important;
    font-weight: 400;
    color: #242424;
}

a, 
a.link,
a.nolink {
    color: var(--xw-blue);
}
#user_bar a { color: var(--xw-yellow); }
#advanced-search-topnav a { color: var(--xw-blue) !important; }

/* user bar */
#user_bar {
    color: #fff;
    background: var(--xw-blue);
}

/* main nav */
#main_nav {
    background-color: #e0e1e2;
    background-image: linear-gradient(#f0f1f2, #e0e1e2);
    border-bottom: 1px solid #a8a9aa;
    font-family: "Lato",arial,sans-serif !important;
    font-weight: 400;
}

#main_nav #nav-home {
    background-image: url('../images/xw-icon.png') !important;
}
#main_nav ul.nav > li,
#main_nav ul.nav > li:first-of-type { border-color: #d0d1d2; }
#main_nav ul.nav > li > a { color: #242424; }
#main_nav ul.nav > li > a:hover,
#main_nav ul.nav > li.active > a { background-color: #d0d1d2; }
#main_nav ul.nav ul { border-top: 1px solid #a8a9aa; }

#main_nav ul.nav li li a:hover {
    background-color: var(--xw-yellow);
}

#main_nav ul.nav li li.active,
#main_nav ul.nav li li.active > a,
#main_nav ul.nav li li.active > a:hover {
    background-color: var(--xw-yellow);
}

#main_nav ul.nav table.data-table tr:hover,
#main_nav ul.nav table.data-table .item:hover {
    background: var(--xw-yellow) !important;
}

/* tab styles */
.yui-skin-sam .yui-navset .yui-nav .selected a,
.yui-skin-sam .yui-navset .yui-nav .selected a em,
.yui-skin-sam .yui-navset .yui-nav .selected a:focus,
.yui-skin-sam .yui-navset .yui-nav .selected a:hover {
    background: var(--xw-blue);
    border-color: var(--xw-blue);
}

.yui-skin-sam .yui-navset .yui-nav,
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav,
#search_tabs.yui-navset.yui-navset-top > .wrangler {
    border-bottom: 5px solid var(--xw-blue) !important;
}

/* actions menu */
#actionsMenu > .bd > .first-of-type a {
    background: var(--xw-blue);
}

/* panels (admin page) */
body.xnat .panel-default .panel-body {
    background: #fff;
}
body.xnat .panel-default .panel-heading {
    background: var(--xw-blue);
}
.xnat-nav-tabs li.tab.active { background: var(--xw-green); }
.xnat-nav-tabs.side li.tab.active > a { border-left-color: var(--xw-green); }

/* actions menu */
#actionsMenu li a:hover,
#actionsMenu li.yuimenuitem-hassubmenu > a:hover {
    background-color: var(--xw-yellow);
}

/* other widgets */
body #accordion h3 {
    font-family: inherit !important;
}
body #accordion h3.active,
div.download-column h3 {
    background: var(--xw-blue) !important;
    border: 1px solid var(--xw-blue) !important;
}
body #accordion .content {
    background: #fff;
}
body #accordion .content td.highlighted {
    background: none;
    border: none;
}

/* other ui elements */
div.containerTitle.withColor {
   background: var(--xw-blue) !important;
}

.xnat-table tr.highlight:hover,
.xnat-table.highlight tr:hover,
.xnat-table.striped.highlight tr:hover {
    background: var(--xw-yellow);
}

button, [type="button"], [type="submit"], [type="reset"], .btn, .btn1, .btn2 {
        font-family: "Lato",arial,sans-serif;
}